html, body {
  margin: 0;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: #efefef;
}

button[is='mongo-button'] {
  outline: none;
  background: #f90;
  color: white;
  border: none;
  padding: .5rem 1rem;
  font-size: 3rem;
}

button[is='mongo-button']:active {
  background: #fff;
  color: #f90;
}
